.l-navigation-bar {
  .p-panel__logo {
    display: flex;
    margin: 0;

    @media (min-width: $breakpoint-small) {
      display: none;
    }

    @media (max-width: $breakpoint-small) {
      .l-logo__collapsed {
        display: none;
      }
    }
  }
}

.l-navigation {
  .p-panel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 12px;

    .p-panel__header {
      display: block;
      padding-left: 0;

      .l-site-selector,
      .l-site-selector__label,
      .l-new-webpage-button {
        @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
          visibility: hidden;
        }
      }

      .l-logo__collapsed {
        left: 0;
        position: absolute;
        top: 0;

        @media (min-width: $breakpoint-large) {
          display: none;
        }

        :global(.l-navigation):hover &,
        :global(.l-navigation):focus-within & {
          display: none;
        }
      }
    }

    .p-panel__logo {
      display: none;
      margin: 0;
  
      @media (min-width: $breakpoint-small) {
        display: flex;
        margin-bottom: 50px;
      }
    }

    .l-navigation__controls,
    .l-navigation__controls > span {
      display: flex;
      margin-bottom: 20px;
      position: relative;
      width: 100%;

      @media (min-width: $breakpoint-small) {
        display: none;
      }

      .l-navigation-collapse-toggle {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }

    .p-panel__content {
      height: calc(100vh - 340px);
      overflow: auto;

      @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
        visibility: hidden;
      }
    }

    .p-panel__footer {
      margin-top: auto;
      padding-top: 20px;

      .p-side-navigation__link {
        justify-content: flex-start;
        padding-left: 40px;
        width: 100%;

        .p-side-navigation__icon {
          left: 1rem;
        }
      }
    }
  }

  &:hover {
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
      .p-panel__content,
      .p-panel__header .l-site-selector,
      .p-panel__header .l-site-selector__label,
      .p-panel__header .l-new-webpage-button {
        visibility: visible;
      }
    }
  }
}
