.l-navigation-bar {
  .p-panel__logo {
    display: flex;
    margin: 0;

    @media (min-width: 620px) {
      display: none;
    }
  }
}

.l-navigation {
  .p-panel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 12px;

    .p-panel__header {
      display: block;
      padding-left: 0;
    }

    .p-panel__logo {
      display: none;
      margin: 0;
  
      @media (min-width: 620px) {
        display: flex;
        margin-bottom: 50px;
      }
    }

    .l-navigation__controls,
    .l-navigation__controls > span {
      display: flex;
      margin-bottom: 20px;
      position: relative;
      width: 100%;

      @media (min-width: 620px) {
        display: none;
      }

      .l-navigation-collapse-toggle {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }

    .p-panel__content {
      height: calc(100vh - 280px);
      overflow: auto;

      @media (min-width: 620px) and (max-width: 1920px) {
        visibility: hidden;
      }
    }

    .p-panel__footer {
      margin-top: auto;
      padding-top: 20px;

      .p-button--base {
        text-align: left;
        width: 100%;
      }
    }
  }

  &:hover {
    .p-panel__content {
      @media (min-width: 620px) and (max-width: 1920px) {
        visibility: visible;
      }
    }
  }
}
