<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width" />

    <title>Websites Content System</title>

    <link rel="stylesheet" href="/static/build/style.css" />

    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/e6b1c303-COF%20favicon.ico"
      type="image/x-icon"
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2"
      crossorigin
    />
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
